<div class="container">
<button mat-raised-button color="primary" (click)="createJornada()">ADD</button>
    <br>
    <br>
    <table mat-table [dataSource]="jornadas" class="mat-elevation-z8" #tabla1>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let jornada"> {{jornada.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="turnoId">
          <th mat-header-cell *matHeaderCellDef> TURNO </th>
          <td mat-cell *matCellDef="let jornada"> {{getNombreTurno(jornada.turnoId) | uppercase}} </td>
        </ng-container>
      
        <ng-container matColumnDef="operarioId">
          <th mat-header-cell *matHeaderCellDef> OPERARIO </th>
          <td mat-cell *matCellDef="let jornada"> {{getNombreOperario(jornada.operarioId) | uppercase}} </td>
        </ng-container>
      
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> FECHA </th>
          <td mat-cell *matCellDef="let jornada"> {{jornada.fecha}} </td>
        </ng-container>

        <ng-container matColumnDef="btn-delete">
          <th mat-header-cell *matHeaderCellDef> BORRAR </th>
          <td mat-cell *matCellDef="let jornada">
            <button mat-raised-button color="warn" (click)="deleteJornada(jornada.id)" >
                BORRAR
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="btn-upload">
          <th mat-header-cell *matHeaderCellDef> ACTUALIZAR </th>
          <td mat-cell *matCellDef="let jornada">
            <button mat-raised-button color="accent" (click) = 'actualiza(jornada)'>
                ACTUALIZAR
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>