
<body class="container">
<button class="btn btn-success" (click)="getOperarios()">lista operarios</button>
<br>

<ng-container *ngIf="operarios">
    <br>
    <br>
    <br>

    <table class='table'>
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Role</th>
            <th>Activo</th>
        </thead>
        <tbody>
            <tr *ngFor="let operario of operarios">
                <td>{{operario.id}}</td>
                <td>{{operario.nombre}}</td>
                <td>{{operario.role}}</td>
                <td>{{operario.activo}}</td>

            </tr>
        </tbody>
    </table>
</ng-container>

</body>

