/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { 
    background: url('./assets/images/Sky_Clouds_Rays_of_light_470197.jpg');
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; }


