<div class="container">
   
  <button mat-mini-fab color="primary" (click)="createOperario()"><mat-icon>add</mat-icon></button>
  <br>
    <br>
    <table mat-table [dataSource]="operarios" class="mat-elevation-z8 centered" #tabla1>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let operario"> {{operario.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
          <td mat-cell *matCellDef="let operario"> {{operario.nombre}} </td>
        </ng-container>
      
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> ROLE </th>
          <td mat-cell *matCellDef="let operario"> {{operario.role}} </td>
        </ng-container>
      
        <ng-container matColumnDef="activo">
          <th mat-header-cell *matHeaderCellDef> ACTIVO </th>
          <td mat-cell *matCellDef="let operario"> {{operario.activo}} </td>
        </ng-container>

        <ng-container matColumnDef="btn-delete">
          <th mat-header-cell *matHeaderCellDef style="color: blue;"> OPERARIO</th>
          <td mat-cell *matCellDef="let operario">
            <button  mat-icon-button color="warn" (click)="deleteOperario(operario.id)" >
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click) = 'actualiza(operario)'>
              <mat-icon>edit</mat-icon>
          </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>